{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup templates
 */
#}
{# {% block content %}
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail" class="img-responsive">
      <img src="{{ expertise_image }}">
    <div class="caption">
        <h2>Ecommerce</h2>
        <p>Wij richten ons bij het ontwikkelen van uw</p>
        <p><a href="/node/3" class="btn btn-primary" role="button">Lees Meer</a></p>
      </div>
    </div>
  </div>
  
    <div class="col-sm-6 col-md-3">
     <div class="thumbnail" class="img-responsive">
      <img src="{{ expertise_image }}">
    <div class="caption">
        <h2>Ecommerce</h2>
        <p>Wij richten ons bij het ontwikkelen van uw</p>
        <p><a href="/node/3" class="btn btn-primary" role="button">Lees Meer</a></p>
      </div>
    </div>
    </div>
    
    <div class="col-sm-6 col-md-3">
     <div class="thumbnail" class="img-responsive">
      <img src="{{ expertise_image }}">
    <div class="caption">
        <h2>Ecommerce</h2>
        <p>Wij richten ons bij het ontwikkelen van uw</p>
        <p><a href="/node/3" class="btn btn-primary" role="button">Lees Meer</a></p>
      </div>
    </div>
    </div>
    
    <div class="col-sm-6 col-md-3">
     <div class="thumbnail" class="img-responsive">
      <img src="{{ expertise_image }}">
    <div class="caption">
        <h2>Ecommerce</h2>
        <p>Wij richten ons bij het ontwikkelen van uw</p>
        <p><a href="/node/3" class="btn btn-primary" role="button">Lees Meer</a></p>
      </div>
    </div>
    </div>
  
{% endblock %} #}


