{% extends "block--bare.html.twig" %}

{% block content %}
  
  
  {% if content %}
  
      <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
          {{ content }}
        </div>
      </div>
    
  
  {% endif %}
  
  
  
{% endblock %}