/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 20, 2016, 1:57:22 PM
    Author     : art

To reset Margins etc
*/

h1, h2 {
  margin: 15px 20px 15px;
}

.spacie {
  margin: 20px;
}

input {
  border-radius: 15px;
}

.orangedot {
  color: $artomOrange;
  margin-left: 5px;
}


ul, li {
  list-style: none;
  > .col-md-1 {
  margin-left: -20px;
  }
}

.col-sm-12 {
  padding-left: 0px;
  padding-right: 0px;
}

.jumbotron {
  
  margin-bottom: 0px;
}

.container .jumbotron {
  @include border-radius(0px);
  /*-moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;*/
}

.navbar {
  margin-bottom: 0px;
  border: 0px;
}

div.col-md-1 {
  min-width: 130px;
}

 .col-md-4 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    > h4.row {
      margin: 0px;
    }
  }
  
  .col-md-2 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
  }

 .col-md-1 {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .col-md-3 {
    >p {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  #top_over_ons {
    margin: 94px 292px 137px 215px;
    text-align: center;
  }
  
  #middle_over_ons {
    margin: 100px 292px 137px 215px;
    padding: 50px 0px;
    text-align: center;
  }
  @media (max-width: 760px ) {
    #top_over_ons, #middle_over_ons {
    margin: 20px;
  }
  img {
    text-align: center;
  }
  }
  
  h3.namesurname {
    font-size: 25px;
    margin: 40px 5px 8px;
  }

  p.teamfunction {
    text-align: center;
  }