/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 20, 2016, 1:57:22 PM
    Author     : art

To reset Margins etc
*/

h1, h2 {
  margin: 15px 20px 15px;
}

.col-sm-12 {
  padding-left: 0px;
  padding-right: 0px;
}

.jumbotron {
  
  margin-bottom: 0px;
}

.container .jumbotron {
  @include border-radius(0px);
  /*-moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;*/
}

.navbar {
  margin-bottom: 0px;
  border: 0px;
}