/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 20, 2016, 2:01:35 PM
    Author     : art

Here you put anything that doesn't belong to any of the above - for example, accordeons, tabs, jumbotron?

*/

//CSS for front-page vector icons
  .icon-thumb {
    border: 2px solid $artomBlue;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    > img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 32px;
      margin-right: auto;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 5px;
      padding-left: 5px;
    }
  }
  
//CSS for front-page orange numbers
.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 80px;
    height: 80px;
    padding: 15px;
    background-color: $artomOrange;
    border: 2px solid $artomOrange;
    color: $artomWhite;
    text-align: center;
    font: 32px Arial, sans-serif;
    position: absolute;
}